<h2 class="title">
  my best moments
</h2>
<div class="galery">
  <div class="card">
    <figure>
      <img src="assets/images/photo_example.jpg" alt="" />
    </figure>
    <p>
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor
      sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. sit
      amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
    </p>
    <button class="btn">
      instagram
    </button>
  </div>
  <div class="card">
    <figure>
      <img src="assets/images/photo_example.jpg" alt="" />
    </figure>
    <p>
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor
      sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. sit
      amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
    </p>
    <button class="btn">
      instagram
    </button>
  </div>
  <div class="card">
    <figure>
      <img src="assets/images/photo_example.jpg" alt="" />
    </figure>
    <p>
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor
      sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. sit
      amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
    </p>
    <button class="btn">
      instagram
    </button>
  </div>
  <div class="card">
    <figure>
      <img src="assets/images/photo_example.jpg" alt="" />
    </figure>
    <p>
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor
      sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. sit
      amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
    </p>
    <button class="btn">
      instagram
    </button>
  </div>
</div>
