.skill {
  background: white;
  color: black;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
}

.mute {
  position: fixed;
  top: 1rem;
  left: 1.8rem;
  text-decoration: none;
  i {
    color: black;
    font-size: 2rem;
  }
}
