.menu {
  position: fixed;
  left: 11rem;
  z-index: 3;
}
nav {
  ul {
    display: flex;
    margin-block-start: 1.6rem;
    align-items: center;
    li {
      padding: 10px 0.2rem;
      a {
        position: relative;
        text-transform: uppercase;
        padding: 0.5rem 0.8rem;
        color: white;
        &:after {
          content: "";
          transition: all 0.5s;
          position: absolute;
          bottom: -2px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0;

          height: 2px;
          background: white;
        }
        &:hover::after {
          width: 80%;
        }
        &.active::after {
          width: 100%;
        }
      }
    }
  }
}
.navbar_white {
  background: black;
}
.logo {
  figure {
    max-width: 180px;
    cursor: pointer;
    img {
      width: 80%;
    }
  }
}
