<div class="container menu" (window:scroll)="scrollEvent($event)">
  <div class="row" #nav>
    <nav class="col-md-8">
      <ul>
        <li>
          <a href="">inicio</a>
        </li>
        <li>
          <a href="">Sobre mi</a>
        </li>
        <li>
          <a href="">proyectos</a>
        </li>
        <li>
          <a href="">contacto</a>
        </li>
      </ul>
    </nav>
    <div class="logo col-md-4">
      <figure>
        <img src="assets/images/logo.png" alt="inicio" />
      </figure>
    </div>
  </div>
</div>
