<div class="container box">
  <div class="row">
    <div class="col-md-6">
      <!-- ****************************** galery components****************************** -->
      <app-galery></app-galery>
      <!-- ******************************end  galery components****************************** -->
    </div>
    <div class="col-md-6 box-right">
      <!-- ******************************description****************************** -->
      <div class="box__text">
        <h3>my biography</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi
          amet in repudiandae aperiam suscipit possimus beatae optio facilis,
          unde delectus nostrum culpa maiores, alias blanditiis iusto nihil
          doloremque a obcaecati!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis at,
          necessitatibus eum sunt vitae ullam officiis molestiae cum quaerat
          rem.
        </p>
      </div>

      <!-- ******************************end description****************************** -->
    </div>
  </div>
</div>
