<app-skills *ngIf="showModal"></app-skills>

<div class="container">
  <div class="box">
    <div class="row">
      <!-- ******************************text****************************** -->
      <div class="col-md-6 box-left">
        <div class="text">
          <span>
            Elmer león
          </span>
          <h2>I am web <b>developer</b></h2>
          <p>
            adipisicing elit Lorem ipsum dolor sit, amet consectetur adipisicing
            elitLorem ipsum dolor sit, amet consectetu Lorem ipsum dolor sit
            amet
          </p>
          <button class="btn" (click)="showSkills()">
            viewm skills
          </button>
        </div>
      </div>
      <!-- ******************************end text****************************** -->
      <!-- ******************************photo****************************** -->
      <div class="col-md-4 box-right">
        <figure>
          <img src="assets/images/photo.svg" alt="" />
        </figure>
      </div>
      <!-- ******************************end photo****************************** -->
    </div>
    <div class="social">
      <ul>
        <a href="">
          <i class="fab fa-facebook-f"></i>
        </a>

        <a href="">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="">
          <i class="fab fa-youtube"></i>
        </a>
      </ul>
    </div>
  </div>
</div>
